@page
@using Microsoft.AspNetCore.Mvc.Localization
@using CmvApp.Localization
@using CmvApp.Web.Pages.Products
@using Volo.Abp.AspNetCore.Mvc.UI.Bootstrap.TagHelpers.Modal
@using CmvApp.Products;
@using System.Globalization
@inject IHtmlLocalizer<CmvAppResource> L
@model EditModalModel
@{
    Layout = null;
}

<form data-ajaxForm="true" asp-page="/Products/EditModal" autocomplete="off">
    <abp-modal id="ProductEditModal">
        <abp-modal-header title="@L["Update"].Value"></abp-modal-header>

        <abp-modal-body>
                    <abp-input asp-for="Id" />
                    <abp-input asp-for="Product.ConcurrencyStamp" hidden="true" suppress-label="true"/>
                    
            <abp-input asp-for="Product.Name" />

            <abp-input asp-for="Product.Description" />

            <abp-input asp-for="Product.Price" />

                    
                
        </abp-modal-body>

        <abp-modal-footer buttons="@(AbpModalButtons.Cancel|AbpModalButtons.Save)"></abp-modal-footer>
    </abp-modal>
</form>